<div class="section section__second wrapper">
        <h2 class="about__second_title">За эти годы нашими услугами воспользовались более 1 500 000 клиентов, потому что в ломбарде "Капитал" им предоставили:</h2>
        <div class="about__second col">
        <div class="col__first">
            <div class="col__item col__item_first" style="background-image: url('dependencies/images/ab1.jpg')">
                <span class="col__title">1</span>
                <p class="col__text">Максимальную цену залога</p>
            </div>
            <div class="col__item col__item_second" style="background-image: url('dependencies/images/ab2.jpg')">
                <span class="col__title">2</span>
                <p class="col__text">Честные и выгодные процентные ставки по кредиту</p>
            </div>
        </div>
            
        <div class="col__second">
            <div class="col__item col__item_third" style="background-image: url('dependencies/images/ab3.jpg')">
                <span class="col__title">3</span>
                <p class="col__text">Гарантированную сохранность имущества клиента в течение всего срока договоракредита</p>
            </div>
            <div class="col__item col__item_fourth" style="background-image: url('dependencies/images/ab4.jpg')">
                <span class="col__title">4</span>
                <p class="col__text">Профессиональное и вежливое обслуживание</p>
            </div>
            <div class="col__item col__item_fifth" style="background-image: url('dependencies/images/ab5.jpg')">
                <span class="col__title">5</span>
                <p class="col__text">Быстрое получение наличных денег в кредит под залог золота всего за 5-7 минут, а под залог техники всего за 10-15 минут</p>
            </div>
        </div>
        <div class="col__third col__item_sixth">
            <div class="col__item" style="background-image: url('dependencies/images/ab6.jpg')">
                <span class="col__title">6</span>
                <p class="col__text">Простоту оформления кредита - без справок о доходах и без поручителей, только с паспортом</p>
            </div>
            <div class="col__item col__item_seventh" style="background-image: url('dependencies/images/ab7.jpg')">
                <span class="col__title">7</span>
                <p class="col__text">Возможность досрочно погасить кредит БЕЗ штрафов перерасчетом суммы процентов к возврату в сторону уменьшения</p>
            </div>
        </div>
    </div>
        <a href="http://localhost.o.o:3010/about#thirdPage" class="down down__second">
            <img src="dependencies/images/down.png"></a>
</div>