<h5 class="about__nav">
    <div class="wrapper">
        <a href="index.html" class="about__nav_link">Главная</a>
        <span>/</span>
        <a href="about.html" class="about__nav_link"> О компании</a>
    </div>
</h5>

<h5 class="about__nav_mob ">
    <div class="wrapper">
        <a href="about.html" class="about__nav_link">Назад</a>
    </div>
</h5>