    <div class="section section__third wrapper">
        <h2 class="medals__title">Благодарим наших клиентов за выбор ломбарда «Капитал»</h2>
        <p class="medals__title_bottom">Благодаря Вашему доверию и высокой оценке нашей работы в течение многих лет мы остаемся лидерами в сфере залогового микрокредитования. Это подтверждено престижными наградами, полученными нашей сетью ломбардов:</p>
        
        <div class="medals">
        <div class="medals__item">
            <img src="dependencies/images/medal1.jpg">
            <span class="medals__text_slider">Предприятие года 2010</span>
        </div>
        <div class="medals__item">
            <img src="dependencies/images/medal2.jpg">
            <span class="medals__text_slider">Лидер отрасли 2012</span>
        </div>
        <div class="medals__item">
            <img src="dependencies/images/medal3.jpg">
            <span class="medals__text_slider">Лидер отрасли 2014</span>
        </div>
        <div class="medals__item">
            <img src="dependencies/images/medal4.jpg">
            <span class="medals__text_slider">Лидер отрасли 2015</span>
        </div>
        <div class="medals__item">
            <img src="dependencies/images/medal4.jpg">
            <span class="medals__text_slider">Лидер отрасли 2015</span>
        </div>
        <div class="medals__item">
            <img src="dependencies/images/medal4.jpg">
            <span class="medals__text_slider">Лидер отрасли 2015</span>
        </div>
        <div class="medals__item">
            <img src="dependencies/images/medal4.jpg">
            <span class="medals__text_slider">Лидер отрасли 2015</span>
        </div>
            
        
    </div>
        <p class="medals__text">Спасибо, что доверяете нам!</p>
        <a href="http://localhost.o.o:3010/about#firstPage" class="down up"></a>
        
    </div>