<div class="footer">
    <div class="wrapper">
        <ul class="footer__list_bottom">

            <li class="footer__list"><a href="#" class="footer__list_link">Lombard Capital 2016</a></li>
            <li class="footer__list"><a href="#" class="footer__list_link">Виды залогов</a></li>
            <li class="footer__list"><a href="#" class="footer__list_link">Условия договора</a></li>
            <li class="footer__list"><a href="#" class="footer__list_link">Тарифные планы</a></li>
            <li class="footer__list">
                <a href="{{ okLink }}" class="social ok">ok</a>
                <a href="{{ vkLink }}" class="social vk">vk</a>
                <a href="{{ fbLink }}" class="social fb">fb</a>
            </li>
        </ul>
    </div>
</div>