{% extends '_layout.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block jsEntryPoint %}
    {{ asset('/dependencies/js/main/about.js') }}
{% endblock %}

{% block wrapper %}
    <div class="about">
        {% include '_aboutnav.twig' %}
    <div id="fullpage">

            {% include '_about1.twig' %}
            {% include '_about2.twig' %}
            {% include '_about3.twig' %}

     </div><!--fullpage end-->

        {% include '_aboutfooter.twig' %}

    </div>

    {% include '_aboutbottom.twig' %}

{% endblock %}