{% extends '_layout.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block jsEntryPoint %}
    {{ asset('/dependencies/js/main/contacts.js') }}
{% endblock %}

{% block wrapper %}
    <div class="contacts">

        <span class="contacts__nav grey wrapper">
            {% for nav in contactsNav %}
               <a href="{{ nav.href }}" class="contacts__nav_link grey">{{ nav.name}}</a>
               <span>/</span>
            {% endfor %}
        </span>

        <div class="contacts__mainblock wrapper">
        {% include '_contactsmain.twig' %}
        {% include '_map.twig' %}
        </div>
    {% include '_footer.twig' %}

    </div>

{% endblock %}