.promo {
    position: relative;
    background: $bgmain;
    min-height: calc(100vh - 88px);
    @include bp ($mob) {
        font-size: 0.6em;
    }
    &__img_desktop {
        @include bp ($tablet) {
            display: none;
        }
    }
    &__img_mob {
        display: none;
        @include bp ($tablet) {
            display: block;
        }
    }
}

h1, h2 {
    font-size: 1em;
}
.slider {
    color: $colorNavText;
    margin: 78px 0 30px 0;
    @include bp ($desktopsmall) {
                font-size: 0.8em;
            }
    @include bp ($mob) {
                margin: 58px 0 30px 0;
            }
    &__item {
        position: relative;
    }
    &__text {
        font-family: 'Times New Roman';
        display: flex;
        flex-direction: column;
        position: absolute;
        @include bp ($tablet) {
            width: 100%;
            flex-direction: row;
            text-align: right;
            display: block;
            padding: 25px 50px 0 0;
        }
        @include bp ($mob) {
            padding: 15px 20px 0 0;
        }
        &_large {
            font-size: 5.125em;
            padding: 67px 0 10px 185px;
            @include bp ($desktopsmall) {
            padding: 35px 0 10px 101px;
            }
            @include bp ($tablet) {
                display: inline;
                padding: 50px 15px 20px 0;
                font-size: 4.0em;
                
            }
        }
        &_medium {
            font-size: 2.5em;
            padding: 0px 0 33px 185px;
            border-bottom: 1px solid $colorNavText;
            text-transform: uppercase;
            @include bp ($desktopsmall) {
                padding: 0px 0px 20px 100px;
                text-transform: lowercase;
            }
            @include bp ($tablet) {
                padding: 0;
                text-transform: lowercase;
                font-size: 4.0em;
                border: none;
            }
        }
        &_small {
            font-family: $family;
            font-size: 1.5em;
            padding: 35px 0 0 182px;
            text-transform: uppercase;
            font-weight: normal;
            @include bp ($desktopsmall) {
                    padding: 20px 0 0 99px;
            }
            @include bp ($tablet) {
                display: block;
            }
        }
    }
}
.promo__main {
    display:flex; 
    max-width: 1265px;
    padding: 0 30px;
    margin: 0 auto;
    height: 100%;
    flex-direction: row;
    @include bp ($desktopsmall) {
        font-size: 0.8em;
    }
    @include bp ($tablet) {
        flex-direction: column;
        font-size: 1em;
    }
}
.news {
    width: 64%;
    margin-right: 5%;
    border-right: 1px solid #dddddd;
    @include bp ($desktopsmall) {
        margin-right: 2%;
    }
    @include bp ($tablet) {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #dddddd;
    }
    &__item {
        padding: 0 30px 0 0;
        flex-basis: 49%;
        @include bp ($desktopsmall) {
            padding: 0 5px 0 0;
        }
        @include bp ($tablet) {
            margin: 0 0 30px 0;
        }
    }
    &__title {
        margin: 8px 0 38px 0;
        font-size: 1.3125em;
        display: inline-block;
    }
    &__link {
        display: inline-block;
        margin: 0 0 0 57px;
        color: $bgHeader;
        text-decoration: none;
        font-size: 1.125em;
        @include bp ($tablet) {
            display: none;
        }
    }
    &__arrow {
        display: inline-block;
        width: 20px;
        display: inline-block;
        margin-left: 7px;
    }
    &__list {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        @include bp ($tablet) {
            flex-direction: column;
        }
    }
    &__img {
        float: left;
        margin: 0 24px 0 0;
        @include bp ($desktopsmall) {
           margin: 0 15px 0 0;
            width: 40%;
        }
        @include bp ($tablet) {
            width: 20%;
        }
    }
    &__text {
        color: $newscolor;
        display: flex;
        flex-flow: column;
        height: 100%;
        justify-content: space-between;
        p {
            margin-top: 0;
        }
    }
    &__date {
        opacity: 0.6;
    }
}
.mail {
    width: 31%;
    @include bp ($desktopsmall) {
        width: 35%;
    }
    @include bp ($tablet) {
        width: 100%;
    }
    &__title {
        text-align: center;
        font-size: 1.125em;
        font-weight: bold;
        margin: 1.5em 0 1.7em;
    }
    &__email {
        padding: 14px 20px;
        border: none;
        border-radius: 30px;
        font-style: italic;
        font-size: 14px;
        width: 70%;
        @include bp ($tablet) {
        width: 65%;
    }
        @include bp ($mob) {
            font-size: 10px;
        }
    }
    &__button {
        padding: 12px 20px;
        border: 2px solid $bgHeader;
        color: $bgHeader;
        border-radius: 30px;
        margin: 0 0 0 -40px;
        background: #fff;
        width: 38%;
        font-weight: bold;
        font-size: 1em;
        @include bp ($desktopsmall) {
            padding: 12px 8px;
        }
    }
    &__info {
        opacity: 0.4;
        font-size: 0.875em;
        text-align: center;
        margin: 1.4em 0;
    }
}

.red {
    color: $bgHeader;
}

.slick-prev, .slick-next {
    width: 50px;
    height: 50px;
    background: url($bgurl + 'sliderarrows.png');
    text-indent: -9999px;
    overflow: hidden;
    border: none;
    position: absolute;
    z-index: 10;
    bottom: 0;
    transform: translateY(50%);
}
.slick-prev {
    right: 147px;
    @include bp ($mob) {
        right: 115px;
    }
}
.slick-next {
    right: 87px;
    background-position: 160px 0px;
    @include bp ($mob) {
        right: 50px;
    }
}

.slick-prev:before {
    content: "";
}
.slick-dots {
    position: absolute;
    right: 40px;
    bottom: calc(50% - 70px);
    text-indent: -9999px;
    list-style: none;
    @include bp ($tablet) {
        bottom: calc(50% - 125px);
    }
    @include bp ($mob) {
        bottom: calc(50% - 80px);
    }
}
.slick-dots li {
    display: block;
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    text-indent: -9999px;
    margin-bottom: 16px;
}
.slick-active {
    background: #fff !important;
}
