// Custom global colors
$colorNavText: #fff;
// Default global colors
$colorText: #000;
$colorLink: #00f;
$colorPlaceholder: #fff;
$colorFocus: #00326f;
$bgBody: #fff;
$bgmain: #f6f6f6;
$bgHeader: #e60000;
$bgHeader2: #c50000;
$bdHeader: #b10000;
$newscolor: #494949;
$bordergrey: #eaeaea;
$grey: #454545;

// Widths
$minWidth: 320px;
$desktoplarge: 1250;
$desktopsmall: 1150;
$tablet: 850;
$mob: 500;

// Fonts
$family: 'PT Sans', sans-serif;
$serif: 'PT Serif', serif;;
$fz: 16px;
$lh: 20px;

//Images
$fonturl : '/dependencies/fonts';
$imgurl : '/dependencies/images/';

//BGImages
$bgurl : '../images/';

